.jumbotron {
  border: solid 5px blue;
  padding: 25px;
  margin: 25px 50px 25px 5px;
  background:
}

.header{
  padding: 0px 10px 0px 10px;
  /*margin: 25px 50px 25px 5px;*/
  }

.footer{
  text-align: right;
  padding-top: 9px;
  margin: 40px 0 20px;
  border-top: 1px solid #eee;

}
